@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Pontano+Sans:wght@300..700&display=swap");

:root {
  --color-background: #fdf9f5;
  --color-primary-text: #1e1e1e;
  --color-accent-1: #985d2e;
  --color-accent-2: #d6a77a;
  --color-highlight: #fff3d4;
  --color-muted-text: #77716b;
  --color-error: #d45d5d;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}
